<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{HH:mm:ss}){faint} %cyan([%-5.5t]){faint} %cyan(%0.-5p) %yellow(%-40.40logger{39}){cyan}: %m%n
            </pattern>
        </encoder>
    </appender>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="no.visma.catfacts" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

</configuration>